html, body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: 16px;
  height: 100%;
}

.clearfix {
  clear: both;
}

.clearfix:after, .clearfix:before {
  content: "";
  clear: both;
  display: table;
}

/* Header */

.tds_header {
  background: rgba(14, 97, 89, 0.85);
  height: 60px;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.tds_header:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.tds_header h1 {
  margin: 0 0 0 15px;
  padding: 0;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.tds_header h1 a {
  color: #fff;
  text-decoration: none;
}

.tds_header p {
  display: inline-block;
  float: right;
  margin: 15px 20px 0 0;
  font-size: 1.5em;
}

.tds_header p span {
  display: inline-block;
}

.tds_header p span:last-of-type {
  margin-left: 20px;
}

/* Home page - body */

.tds_back {
  margin: 0 25px;
}
.tds_back a {
  color: #1d786e;
  font-size: 0.750em;
  text-decoration: none;
  margin-right: 20px;
}
.tds_back a:before {
  content: "\f060";
  font-family: "FontAwesome";
  position: relative;
  right: 5px;
}
.tds_back a:hover {
  color: #981620;
}

.tds_wrapper {
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
.tds_wrapper h1 {
  text-align: center;
}

.tds_content {
  display: table-row;
  width: 100%;
  height: 100%;
}

.tds_content__wrapper {
  padding: 45px 20px;
}

.tds_intro {
  width: 33%;
  float: left;
}

.tds_logo {
  margin-bottom: 60px;
  background: url("../images/tds-logo.png") no-repeat center center;
  background-size: 305px 230px;
  width: 305px;
  height: 230px;
  max-width: 100%;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .tds_logo {
      background: url("../images/tds-logo@2x.png") no-repeat center center;
      background-size: 305px 230px;
    }
  }

.tds_logo img {
  /*max-width: 100%;*/
  display: none;
}

.tds_intro_content {
  max-width: 320px;
  font-size: 0.875em;
}

.tds_actions {
  display: inline-block;
  width: 34%;
  text-align: center;
}
.tds_actions a {
  display: inline-block;
  width: 197px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}
.tds_actions a[href*="transport"] {
  float: left;
  margin-right: 10px;
  background: #fff;
  background: -moz-linear-gradient(top, #afd145 0%, #5d9123 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd145), color-stop(100%, #5d9123));
  background: -webkit-linear-gradient(top, #afd145 0%, #5d9123 100%);
  background: -o-linear-gradient(top, #afd145 0%, #5d9123 100%);
  background: -ms-linear-gradient(top, #afd145 0%, #5d9123 100%);
  background: linear-gradient(to bottom, #afd145 0%, #5d9123 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afd145', endColorstr='#5d9123',GradientType=0 );
}
.tds_actions a[href*="cargo"] {
  float: right;
  margin-left: 10px;
  background: #139adb;
  background: -moz-linear-gradient(top, #139adb 0%, #00509f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #139adb), color-stop(100%, #00509f));
  background: -webkit-linear-gradient(top, #139adb 0%, #00509f 100%);
  background: -o-linear-gradient(top, #139adb 0%, #00509f 100%);
  background: -ms-linear-gradient(top, #139adb 0%, #00509f 100%);
  background: linear-gradient(to bottom, #139adb 0%, #00509f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#139adb', endColorstr='#00509f',GradientType=0 );
}

.tds_guide {
  float: right;
  width: 33%;
}
.tds_guide .step {
  float: right;
  width: 320px;
  height: 187px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
  position: relative;
}
.tds_guide .step h4 {
  font-size: 1.875em;
  margin: 20px 0 0 0;
  text-transform: uppercase;
  padding: 0;
}
.tds_guide .step div {
  display: inline-block;
  font-size: 3.125em;
}
.tds_guide .step div .fa-desktop {
  font-size: 0.875em;
}
.tds_guide .step1 {
  background-color: #e4a93d;
}
.tds_guide .step1 span {
  position: absolute;
  font-size: 2.125em;
}
.tds_guide .step1 span:first-of-type {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  left: 95px;
  top: 105px;
}
.tds_guide .step1 span:last-of-type {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  right: 95px;
  top: 105px;
}
.tds_guide .step1 div:first-of-type {
  margin-right: 130px;
}
.tds_guide .step2 {
  background-color: #456cb5;
}
.tds_guide .step3 {
  background-color: #479b68;
}


.tds_data {
  margin-top: 50px;
  text-align: left;
  font-size: 0.875em;
}

.tds_data h4 {
  text-align: center;
  font-weight: normal;
}

.tds_data table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 60px;
}

.tds_data table:last-of-type {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tds_data th {
  color: #fff;
  font-size: 0.857em;
  padding: 4px 0;
  background: #327972;
}

.tds_data th:nth-child(1),
.tds_data td:nth-child(1) {
  padding: 0 4px;
}

.tds_data th:first-of-type, .tds_data th:last-of-type {
  text-align: center;
}

.tds_data tbody tr {
  border-bottom: 1px solid #327972;
}

.tds_data tbody tr:nth-child(odd) {
  background-color: #ececec;
}

.tds_data tbody tr:nth-child(even) {
  background-color: #fff;
}

.tds_data tbody tr:hover {
  background: rgba(164, 214, 184, 0.25);
  cursor: default;
}

.tds_data tbody td p:first-of-type {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.tds_data tbody td p:last-of-type {
  font-size: 0.857em;
  margin: 0;
  margin-bottom: 5px;
}

.tds_data tbody td:nth-child(1) {
  text-align: center;
}

.tds_data tbody td:nth-last-child(-n+2) {
  width: 50px;
  text-align: center;
}

/* Footer */

footer {
  background-color: #e5e5e5;
  padding: 20px 20px 20px 15px;
}
footer div {
  display: inline-block;
  font-size: 0.875em;
}
footer div a {
  color: #666;
  text-decoration: underline;
}
footer div a:hover {
  text-decoration: none;
}
footer p {
  font-weight: bold;
  margin: 0;
}
footer p:last-of-type {
  font-size: 0.875em;
  font-weight: normal;
  text-align: right;
  float: right;
}
footer i.fa {
  color: #327972;
  font-size: 3.125em;
  margin-right: 15px;
}

form.dp_form {
  width: 550px;
  margin: 45px auto 0;
  font-size: 16px;
}
form.dp_form div {
  margin: 5px 0;
}
form.dp_form div label {
  display: inline-block;
}
form.dp_form div label:before {
  content: '';
  display: inline-block;
  height: 35px;
  vertical-align: middle;
  margin-right: -0.25em;
}
form.dp_form div input,
form.dp_form div input[type="name"],
form.dp_form div input[type="telephone"] {
  float: right;
  padding: 0.7em 12pt;
  color: #201D1D;
  background: white;
  border: 1pt solid #C9D7DD;
  width: 280px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif !important;
}
form.dp_form div input[type="radio"] {
  float: left;
}
form.dp_form div:after {
  content: '';
  clear: both;
  display: block;
}
form.dp_form select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url("../images/arrow.png"), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  font-family: Helvetica, Arial, sans-serif !important;
  margin: 2px 0 3px;
  padding: 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 314px;
  float: right;
}
form.dp_form textarea {
  width: 302px;
  float: right;
  border: 1px solid #C9D7DD;
  padding: 5px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif !important;
}

.company-specific {
  margin-top: 15px;
}
.company-specific label {
  width: 314px;
  height: 17px;
  display: block;
  float: right;
}
.company-specific label:before {
  height: 17px !important;
}
.company-specific label input {
  width: 20px;
  margin-top: 3px;
}
.company-specific:after {
  content: '';
  clear: both;
  display: block;
}

.dp_apply.actions input {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin: 20px auto !important;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.dp_apply.actions input:hover {
  background: #109177 !important;
}

/* --- START Styles for validation errors ---- */
#error_explanation.alert-box {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma,Geneva,Arial,sans-serif;
  font-size: 14px;
  padding: 10px 36px;
  margin: 10px auto;
}
#error_explanation h2 {
  font-size: 1.5em;
  line-height: 1em;
}

.error {
  color:red;
}

input.error {
  border: 1px solid red !important;
}
label.error {
	width: 100%;
	text-align: right;
}
.success {
  background: #e9ffd9 url("success.png") no-repeat 10px 50%;
  border: 1px solid #a6ca8a;
}

.warning {
  background: #fff8c4 url("warning.png") no-repeat 10px 50%;
  border: 1px solid #f2c779;
}

.notice {
  background: #e3f7fc url("notice.png") no-repeat 10px 50%;
  border: 1px solid #8ed9f6;
}

.field_with_errors span.error {
  display: none;
}

/* --- END Styles for validation errors ---- */
#tds_request_created {
  display: none;
  height: 200px;
}

.tds_modal {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.tds_modal #flash_notice {
  margin: 0px 0 30px;
}

.alert-success {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -160px;
  padding: 30px;
  text-align: center;
  border: 2px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
  background: #fff;
}
.alert-success button.close {
  background: url("../images/x.png") no-repeat !important;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
  border: none;
}
.alert-success a.close {
  background-color: #5d9123;
  padding: 10px 35px;
  color: #fff;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.alert-success button.ok {
  background-color: #5d9123;
  padding: 10px 30px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.alert-success button.ok:hover {
  background-color: #67A126;
}
.alert-success a.close:hover {
  text-decoration: none;
}
#new_transport input[class="datepicker"],
#new_cargo input[class="datepicker"] {
  width: 60px;
}
a.pages {
	color: blue;
	width:20px;
}
a.current_page {
	color: red;
}